# Render Database URLs
DATABASE_URL=postgresql://prism_dental_user:your_password@dpg-xxxxxx.singapore-postgres.render.com/prism_dental
Internal_Database_URL=postgresql://prism_dental_user:your_password@dpg-xxxxxx/prism_dental
External_Database_URL=postgresql://prism_dental_user:your_password@dpg-xxxxxx.singapore-postgres.render.com/prism_dental

# Django settings
SECRET_KEY=your-strong-django-secret-key
DEBUG=False
CORS_ALLOW_ALL_ORIGINS=True
